.container {
    display: flex;
    height: 100vh;
    font-family: sans-serif;
  }
  
  .container_login {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container_image {
    flex: 1;
    background-image: url('../../../assets/banner.png');
    background-size:contain;
    background-position: right;
    background-repeat: no-repeat;
  }
  
  /* LOGIN FORM */
  .container_login_form {
    background-color: #f2f3ff;
    padding: 0 40px 40px 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 380px;
    
    position: relative;
  }
  
  .container_login_form p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #3e3eff;
    margin-bottom: 20px;
    position: relative;
    top: -45px;
    
  }
  
  /* Label */
  .container_login_form label {
    font-weight: 500;
    color: #3e3eff;
    display: block;
    margin-bottom: 6px;
    margin-top: 16px;
  }
  
  /* Input field container */
  .input_field {
    display: flex;
    align-items: center;
    border: 1.5px solid #3e3eff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 4px;
    background-color: white;
  }
  
  .input_field svg {
    margin-right: 10px;
    color: #3e3eff;
  }
  
  .input_field input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
  }
  
  /* Error text */
  .error {
    color: red;
    font-size: 12px;
    margin-bottom: 4px;
  }
  
  /* Submit button and links */
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }
  
  .actions button {
    background-color: #3e3eff;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
  }
  
  .actions a {
    color: #3e3eff;
    font-size: 13px;
    text-decoration: none;
  }
  
  .register {
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
  }
  
  .register a {
    color: #3e3eff;
    font-weight: bold;
    text-decoration: none;
  }
  