.dateContainer {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: sans-serif;
    margin-left: 290px;
  }
  
  .selectGroup {
    display: flex;
    gap: 26px; 
  }
  
  .label {
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
  }
  
  .select {
    padding: 10px 12px;
    border: none;
    background-color: #d9d9d9;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    min-width: 60px;
  }
  