.profileSection {
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  height: 60px;
  background-color: var(--normal-blue);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  position: relative;
  cursor: pointer;
  padding: 5px;
}

.profile:hover{
 background-color: var(--weight-blue);
 border-radius: 10px;

 
}

.profile img {
  width: 48px;
  aspect-ratio: 1/1;
  border-radius: 100px;
}

.profile p {
  color: white;
  width: 160px;
  font-weight: bold;


}

.profileOptions {
  position: absolute;
  bottom: 110%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;


}

.profileOptions button {
  all: unset;
  display: flex;
  gap: 10px;
  padding: 10px;
  color: var(--dark-blue);
  border-radius: 10px;
  cursor: pointer;
}

.profileOptions>button:hover {
  background-color: var(--light-blue);
  color: var(--dark-blue);
}


.notification {
  position: relative;
  padding: 5px;

}



.badge {
  position: absolute;
  bottom: 60%;
  left: 40%;
border: 2px solid var(--normal-blue);
  background-color: var(--light-blue);
  aspect-ratio: 1/1;

  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.badge p {
  padding: 3px;
  color: red;
  font-weight: bold;
  text-align: center;
  font-size: small;
}

.notificationList{
  position: absolute;
  border: 1px solid;
  width: 600px;
  bottom: 100%;
  left: 100%;
  border-radius: 10px;
   background-color: var(--light-blue);
}

.notificationList div{
 
border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  
}

.notificationList div:hover{
  background-color: var(--weight-blue);
}