
.logoSection{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

.logo{
  height: 100px;
  aspect-ratio: 1/1;
}

.title{
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: large;
}
