.searchBox {
  display: flex;
  align-items: center;
  border: 1px solid #4955CE;
  border-radius: 6px;
  padding: 10px 12px;
  width: 100%;
  max-width: 940px;
  background-color: white;
  margin: 10px 0px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  opacity: 0.6;
}

.input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  color: #000000;
}
